.repairOrderInfo {
    width: 800px;
    margin: auto;
    border: 1px solid teal;
    padding: 10px;
}

.updateStatusBtn {
    padding: 5px 15px;
    color: teal;
    font-size: 14px;
    background: transparent;
    border: 1px solid teal;
    cursor: pointer;
}

.updateStatusBtn:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}
