.masterInfo {
    width: 800px;
    margin: auto;
    border: 1px solid teal;
    padding: 10px;
}

.phoneNumberInput {
    width: 300px;
    margin: 5px 0;
    border: 1px solid teal;
}

.updateBtn {
    padding: 5px 15px;
    color: teal;
    font-size: 14px;
    background: transparent;
    border: 1px solid teal;
    cursor: pointer;
}

.updateBtn:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}